.artwork-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 3rem;
    margin-top: 2rem;
}

.artwork-card {
    border: var(--border);
    padding: 1rem;
    background: var(--color-white);
}

.artwork-card img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.artwork-card h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.artwork-card p {
    margin-top: 0.25rem;
}

.artwork-gallery {
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.artwork-year {
    font-style: italic;
    font-size: 0.9rem;
}

.card-button {
    display: inline-block;
    margin-top: 1rem;
    padding: .7rem 1.5rem;
    border: 6px solid var(--color-black);
    background-color: var(--color-white);
    color: var(--color-black);
    font-weight: 800;
    transition: .2s;
}

.card-button:hover {
    background-color: var(--color-yellow);
    color: var(--color-black);
}
